<h2>Búsqueda de monumentos</h2>

<form action="/monuments/results" method="get" class="row  justify-content-center">
    <div class= "col-md-6">
        <label>Búsqueda por distrito:</label>
        <select name="districtQuery">
            <option value="---">Selecciona</option>
            {{#each District}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div class="col-md-6">
    <label>Búsqueda por barrio:</label> 
   
        <select name="areaQuery">
            <option value="---">Selecciona</option>
            {{#each Area}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <input type="submit" value="Buscar" class="btn btn-edit btn-block">
</form>

<div class="row">

    {{#each foundMonuments}}
    {{> monumentPartial}}
    {{/each}}

</div>