<h2>Monumentos</h2>
<a href="/monuments" class="btn btn-edit btn-block">Busqueda de monumentos por zona</a>
<div class="row">
    
    {{#each allMonuments}}
        {{> monumentPartial}}
    {{/each}}

</div>

