<h2>Actividades</h2>
<div class="row">
    {{#each allAct}}
    <article class="col-md-4">
        <a href="/activities/{{_id}}"><h4>{{name}}</h4></a>
        <p>{{shortDescription}}</p>
        <p class="text-secondary">{{actType}}</p>
    </article>
    {{/each}}
   
</div>
<a href="/activities/new" class="btn btn-info">Crea una actividad</a>