<h2>Actividades</h2>
<div class="row">
    {{#each allAct}}
    
       {{> actPartial}}
    {{/each}}
   
</div>
<a href="/activities/new" class="btn btn-edit btn-block">Crea una actividad</a>