<h2>Estadísticas</h2>

    
    <h3>Estadísticas de las actividades</h3>
    <p class="chart-title">Distribución por edades</p>
   
    {{!-- <canvas id="districtChart" ></canvas>
    <canvas id="areaChart"></canvas> --}}
    <canvas id="ageChart"></canvas>

    <p class="chart-title">Distribución por número mínimo de participantes</p>
    <canvas id="participantsChart"></canvas>



<h2>Mapa de todos los monumentos</h2>

    <div id="all-map"></div>



<!-- Require Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<!-- DCharts development -->
<script src="../javascripts/charts.js"></script>

<!--Google maps -->
<script src="../javascripts/map-styles.js"></script>
<script src="../javascripts/all-monument-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=__googlekey___&callback=initMap"></script>
