// /* CSS HEX */
// --navy-blue: #03045eff;
// --dark-cornflower-blue: #023e8aff;
// --star-command-blue: #0077b6ff;
// --blue-green: #0096c7ff;
// --cerulean-crayola: #00b4d8ff;
// --sky-blue-crayola: #48cae4ff;
// --sky-blue-crayola-2: #90e0efff;
// --blizzard-blue: #ade8f4ff;
// --powder-blue: #caf0f8ff;

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-right: linear-gradient(90deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-bottom: linear-gradient(180deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-left: linear-gradient(270deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-top-right: linear-gradient(45deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-bottom-right: linear-gradient(135deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-top-left: linear-gradient(225deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-bottom-left: linear-gradient(315deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
// $gradient-radial: radial-gradient(#03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);


body {
  font-weight: 200;
  background-color: #caf0f8ff;
  color:#03045eff;
 
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
  background-color: #023e8aff;
  color:  #90e0efff;
}

input:not(:placeholder-shown), textarea:not(:placeholder-shown), select:not(:placeholder-shown){
  background-color:  #EDFAFD!important;
}

.card {
  border: 1px solid #90e0efff;
 
}

.card-body {
  background-color:  #DAF5FB;
  
}

.form-num {
  width: 50px;
  border: none;
  padding: auto 10px;
  text-align: center;
}

.act-detail-img {
  width: 90%;
}

a {
  color: #0077b6ff;
}

canvas {
    width: 100%;
    margin-bottom: 20px;
}


article {
  margin: 10px auto;
}

.chart-title {
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

#ind-map, #all-map {
  height: 500px;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
  border-radius:6px;
}


.btn-color {
  box-shadow:inset 0px 1px 0px 0px #caf0f8ff;;
	background:radial-gradient( #03045eff 5%,  #0247A1 100%);
	border-radius:6px;
	border:1px solid #03045eff;
	color:#caf0f8ff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px  #023e8aff;
}
.btn-color:hover {
	background:radial-gradient( #0247A1 5%,  #0077b6ff 100%);;
  color: #ade8f4ff
}
.btn-color:active {
	position:relative;
	top:2px;
}

.btn-edit {
  box-shadow:inset 0px 1px 0px 0px #48cae4ff;
	background:linear-gradient(0deg, #0077b6ff, #00b4d8ff );
	border-radius:6px;
	border:1px solid #0096c7ff;
	color:#03045eff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0096c7ff;
}
.btn-edit:hover {
	background:linear-gradient(0deg, #0077b6ff, #00b4d8ff );
  color:#03045eff;
}
.btn:active {
	position:relative;
	top:2px;
}

.btn-danger {
  border-radius:6px;
  background:radial-gradient( #E63946 5%, #C81927 100% );
}
.btn-danger:hover {
  background:radial-gradient( #C81927 5%, #E63946 100% );
}
.btn-block {
  margin: 10px auto;
  width: 90%;
}


/* Responsive */

@media (min-width: 768px) {
    .btn-block {
      margin: 10px auto;
      width: 80%;
    }
}

@media (min-width: 962px) {
        .btn-block {
      margin: 10px auto;
      width: 50%;
    }
  }

  @media (min-width: 1200px) {
        .btn-block {
      margin: 10px auto;
      width: 40%;
    }
  }